extends template
block content
    div
        | Hello #{name}
        br
        h2 Your data has changed
        br
        p.inf Your login is: #{email}
        p.inf Your name is: #{name}
        p.inf Your age is: #{age}
