extends template
block content
    div
        | Hello #{name}
        br
        h2 Your data has changed
        br
        p Your login is: #{email}
        p Your name is: #{name}
        p Your age is: #{age}
